.counter{
    min-width: 300px;
    height: 300px;
    font-size: 160px;
    padding: 25px;
    color: black;
    display: grid;
    place-content: center;
    border: 8px solid black;
    border-radius: 25px;

}