* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html, body {
  color: black;
  background-color: #f5f6f7;
  font-family: Lato, sans-serif;
  margin-top: 50px
}
h1{
  color: #f5f6f7;
  font-size: 25px;
  font-family: Roboto,sans-serif;
  text-align: center;
  margin: 20px 0;
}

.todo-app {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.todo-app-container{
  color: #f5f6f7;
  width: 600px;
  min-height:500px ;
  background: #5d5d5d;
  margin: 25px;
  padding: 10px;
  border-radius: 25px;
  border: 2px solid #313b4c;
}